<!DOCTYPE html>
<html lang="en">
<title>Про нас | Patrego</title>
<%- include('../layout/head.ejs') %>
<%- include('../layout/header.ejs') %>
<div class="about-form container mt-4">
	<div class="text">
		<h2 id="about-name">
			Про <span class="website-domain"></span>
		</h2>
		<p>If you see this then you're a bit early.<br>
			The website is still being worked on, but feel
			free to come back later as often as you like.<br><br>
			Have a nice day!
		</p>
	</div>
</div>
<%- include('../layout/footer.ejs') %>
</html>