<!DOCTYPE html>
<html lang="en">
<head>
	<title>Каталог | Patrego</title>
	<%- include('/src/layout/head.ejs') %>
</head>
<body>
	<%- include('/src/layout/header.ejs') %>

	<%- include('catalogue-main.ejs') %>
	
	<%- include('/src/layout/footer.ejs') %>
</body>
</html>